
/target/                                                                                                                                                                                                         
*.class
.settings/
.project
.classpath
.idea
*.iml
